a {
    text-decoration: none !important;
    color: white;
}

a:hover {
    cursor: pointer;
    color: antiquewhite;
}

.navbar-list {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: blueviolet;
    color: white;
    height: 50px;
    width: 100vw;
    font-size: larger;
    font-weight: 700;
    overflow: hidden;
    z-index: 1;
    align-items: center;
}